<h1>Add new message</h1>
<form method="POST" action="/new">
    <div class="input-container">
        <label for="author">Author:</label>
        <input type="text" name="author">
    </div>
    <div class="input-container">
        <label for="message">Message:</label>
        <input type="text" name="message">
    </div>
    <div class="button-container">
        <button>Submit</button>
    </div>
</form>