<header>
    <h1>Mini Message Board</h1>
        <nav>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/new">New Message</a></li>
            </ul>
        </nav>
</header>