<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/header') %>

    <h1>Page's Not Exist</h1>
    <a href="/">Go Back To Home</a>

    <%- include('partials/footer') %>
</body>
</html>