<html>
    <body>
        <% messages.forEach((message) => { %>
            <ul>
                <p>Message: <%= message.text %> </p>
                <p>Sent by: <%= message.title %> </p>
                <p>Time: <%= message.date.toDateString() %> </p>
            </ul>
        <% }) %>
    </body>
</html>