<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head', {title: title}) %>

<body>
    <%- include('partials/header') %>

    <h1>Message's Not Found</h1>
    <a href='/'>Go Back To Home</a>

    <%- include('partials/footer') %>
</body>
</html>